.menu-container{
    background-color: #363636;
    padding: 0.9375rem;
  }
  
  .menu-container button{
    margin-left: 2.8125rem;
    background-color: #363636;
    color:white;
    border: 0;
    font-family: 'Times New Roman', Times, serif
  }