.form-container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
  }
  
  .form-button{
    border-radius: 0.25rem;
    background-color: #6b07fb;
    color: white;
    border: 0;
    width: 13.125rem;
    height: 5vh;
    font-size: 1.25rem;
  }